# Data Types in Python

Notebook ini membahas tipe data dasar dalam Python yang sangat penting
untuk pengolahan dan analisis data.

Pemahaman tipe data yang baik akan membantu menghindari banyak error
saat bekerja dengan data di dunia nyata.

## Apa itu Tipe Data?

Tipe data menentukan:
- Jenis nilai yang disimpan
- Operasi apa yang bisa dilakukan
- Bagaimana data diproses oleh program

Dalam Data Science, kesalahan tipe data adalah salah satu sumber error
yang paling sering terjadi.

In [1]:
# ---------------------------------------
# String (str)
# ---------------------------------------

# String digunakan untuk menyimpan teks
nama = "Achmad Kamil"
kota = "Jakarta"

print(nama)
print(kota)

# Mengecek tipe data
print(type(nama))
print(type(kota))

Achmad Kamil
Jakarta
<class 'str'>
<class 'str'>

Karakteristik string:
- Ditulis menggunakan tanda petik (" atau ')
- Bersifat immutable (tidak bisa diubah langsung)
- Banyak digunakan untuk nama, alamat, kategori, dan lain-lain

In [2]:
# ---------------------------------------
# Integer (int)
# ---------------------------------------

umur = 30
jumlah_transaksi = 7

print(umur)
print(jumlah_transaksi)

print(type(umur))
print(type(jumlah_transaksi))

30
7
<class 'int'>
<class 'int'>

Integer digunakan untuk:
- Umur
- Jumlah
- Hitungan (count)

In [3]:
# ---------------------------------------
# Float (float)
# ---------------------------------------

tinggi_badan = 170.5
total_belanja = 450000.75

print(tinggi_badan)
print(total_belanja)

print(type(tinggi_badan))
print(type(total_belanja))

170.5
450000.75
<class 'float'>
<class 'float'>

Float digunakan untuk:
- Nilai desimal
- Harga
- Berat
- Nilai hasil perhitungan

In [4]:
# ---------------------------------------
# Boolean (bool)
# ---------------------------------------

is_student = True
is_active = False

print(is_student)
print(is_active)

print(type(is_student))
print(type(is_active))

True
False
<class 'bool'>
<class 'bool'>

Boolean hanya memiliki dua nilai:
- True
- False

Sering digunakan dalam:
- Kondisi (if-else)
- Filter data

## Operasi Dasar Tipe Data

Setiap tipe data memiliki operasi yang berbeda.

In [6]:
# Operasi pada integer dan float
a = 10
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)

# Operasi pada string
nama_depan = "Achmad"
nama_belakang = "Kamil"

print(nama_depan + " " + nama_belakang)

# Operasi pada boolean
print(a > b)
print(a == b)

13
7
30
3.3333333333333335
Achmad Kamil
True
False

## Casting (Konversi Tipe Data)

Casting adalah proses mengubah satu tipe data ke tipe data lain.
Ini sering dibutuhkan dalam Data Science.

In [8]:
# ---------------------------------------
# Casting tipe data
# ---------------------------------------

umur_str = "30"

# Mengubah string ke integer
umur_int = int(umur_str)

print(umur_str)
print(umur_int)

print(type(umur_str))
print(type(umur_int))

30
30
<class 'str'>
<class 'int'>

In [9]:
nilai_float = 95.7

nilai_int = int(nilai_float)

print(nilai_float)
print(nilai_int)

95.7
95

## Error Umum Terkait Tipe Data

Kesalahan yang sering terjadi:
- Menggabungkan string dan integer tanpa casting
- Salah asumsi tipe data dari input pengguna

In [12]:
umur = "30"

# Baris di bawah ini akan menyebabkan error jika dijalankan
print(umur + 5)

TypeError: can only concatenate str (not "int") to str

## Latihan

1. Buat variabel:
   - nama_produk (string)
   - harga_produk (float)
   - stok_produk (integer)
   - produk_aktif (boolean)

2. Tampilkan semua data menggunakan f-string
3. Tampilkan tipe data masing-masing variabel

# Jawaban

In [13]:
print("="*80)
nama_produk = "Laptop"
harga_produk = 12500000.50
stok_produk = 10
produk_aktif = True

print(f"Nama Produk: {nama_produk}")
print(f"Harga Produk: {harga_produk}")
print(f"Stok Produk: {stok_produk}")
print(f"Produk Aktif: {produk_aktif}")

print(type(nama_produk))
print(type(harga_produk))
print(type(stok_produk))
print(type(produk_aktif))
print("="*80)

================================================================================
Nama Produk: Laptop
Harga Produk: 12500000.5
Stok Produk: 10
Produk Aktif: True
<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>
================================================================================

## Ringkasan

Pada notebook ini saya mempelajari:
- Tipe data dasar Python (str, int, float, bool)
- Operasi dasar pada masing-masing tipe data
- Casting tipe data
- Kesalahan umum terkait tipe data