# 05 â€“ Data Structures (Python Collections)

## Tujuan Pembelajaran
Setelah mempelajari materi ini, Anda akan mampu:
1. Memahami konsep data structures di Python
2. Menggunakan List, Tuple, Set, dan Dictionary
3. Memilih struktur data yang tepat untuk suatu kasus
4. Mengolah data secara efisien dan terstruktur

## Apa itu Data Structure?

Data structure adalah cara untuk menyimpan, mengorganisasi, dan mengelola data
agar dapat digunakan secara efisien.

Python menyediakan beberapa data structure bawaan yang disebut **collections**:
- List
- Tuple
- Set
- Dictionary

## 1. List

List adalah struktur data untuk menyimpan banyak nilai dalam satu variabel.

Karakteristik List:
- Berurutan (ordered)
- Bisa diubah (mutable)
- Bisa menyimpan berbagai tipe data

In [4]:
# Membuat list
buah = ["apel", "pisang", "jeruk"]
angka = [10, 20, 30]
campuran = ["Achmad Kamil", 30, True, 170.5]

print(buah)
print(campuran)

['apel', 'pisang', 'jeruk']
['Achmad Kamil', 30, True, 170.5]

### Mengakses dan Mengubah Data List

In [2]:
# Mengakses data
print(buah[0])
print(buah[-1])

# Mengubah data
buah[1] = "mangga"
print(buah)

apel
jeruk
['apel', 'mangga', 'jeruk']

### Operasi Umum pada List

In [3]:
buah.append("anggur")
buah.remove("apel")

print(buah)
print("Jumlah data:", len(buah))

['mangga', 'jeruk', 'anggur']
Jumlah data: 3

### Looping pada List

In [5]:
for item in buah:
    print(item)

apel
pisang
jeruk

## 2. Tuple

Tuple mirip dengan List, tetapi **tidak bisa diubah** (immutable).
Biasanya digunakan untuk data yang bersifat tetap.

In [6]:
koordinat = (10, 20)
hari = ("Senin", "Selasa", "Rabu")

print(koordinat)
print(hari)

(10, 20)
('Senin', 'Selasa', 'Rabu')

## 3. Set

Set adalah struktur data untuk menyimpan data **unik**.
Tidak berurutan dan tidak mengizinkan duplikasi.

In [7]:
angka_unik = {1, 2, 3, 3, 4, 5}
print(angka_unik)

{1, 2, 3, 4, 5}

### Operasi Himpunan pada Set

In [8]:
A = {1, 2, 3}
B = {3, 4, 5}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference: {1, 2}

## 4. Dictionary

Dictionary menyimpan data dalam format **key : value**.
Struktur ini sangat umum digunakan dalam Data Science dan Data Engineering.

In [10]:
mahasiswa = {
    "nama": "Achmad Kamil",
    "umur": 30,
    "tinggi": 170.5,
    "is_student": True
}

print(mahasiswa)

{'nama': 'Achmad Kamil', 'umur': 30, 'tinggi': 170.5, 'is_student': True}

### Mengakses dan Mengubah Data Dictionary

In [11]:
print(mahasiswa["nama"])
print(mahasiswa.get("umur"))

mahasiswa["umur"] = 22
mahasiswa["jurusan"] = "Teknik Informatika"

print(mahasiswa)

Achmad Kamil
30
{'nama': 'Achmad Kamil', 'umur': 22, 'tinggi': 170.5, 'is_student': True, 'jurusan': 'Teknik Informatika'}

### Looping Dictionary

In [12]:
for key, value in mahasiswa.items():
    print(key, ":", value)

nama : Achmad Kamil
umur : 22
tinggi : 170.5
is_student : True
jurusan : Teknik Informatika

## Studi Kasus Mini

Menyimpan data beberapa mahasiswa menggunakan list dan dictionary.

## Jawaban

In [14]:
data_mahasiswa = [
    {"nama": "Achmad Kamil", "nilai": 85},
    {"nama": "Nurul", "nilai": 90},
    {"nama": "Mahrenn", "nilai": 78}
]

for mhs in data_mahasiswa:
    print(mhs["nama"], "-", mhs["nilai"])

Achmad Kamil - 85
Nurul - 90
Mahrenn - 78

## Ringkasan

- List -> fleksibel dan dinamis
- Tuple -> data tetap
- Set -> data unik
- Dictionary -> representasi data nyata